<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make New Order</title>
</head>
<body>
  <div class = "form_inputs">
    <h1>TPC-C benchmark with Amazon AWS</h1>
    <form action = "/newOrder" method = "POST">
      <label for = "w_id">Select Warehouse:</label>
      <select id="cars" name="w_id">
        <option value = "choose">Choose Warehouse ID</option>
        <% if(warehouseData.length > 0) { %>
              <% warehouseData.forEach(eachWarehouse => {
              let warehouseId = eachWarehouse['w_id'] %>
              <option value="<%= warehouseId %>"><%= warehouseId %></option>
          <% })}%>
      </select>
      <label for = "d_id">Select District: </label>
      <select id="cars" name="d_id">
        <option value = "choose">Choose District ID</option>
        <% if(districtData.length > 0) { %>
          <% districtData.forEach(eachDistrict => {
          let districtId = eachDistrict['d_id'] %>
          <option value="<%= districtId %>"><%= districtId %></option>
      <% })}%>
        <!-- <option value=""></option> -->
      </select>
      <label for = "c_id">Select Customer: </label>
      <select id="cars" name="c_id">
        <option value = "choose">Choose Customer ID</option>
        <% if(customerData.length > 0) { %>
          <% customerData.forEach(eachCustomer => {
          let customerId = eachCustomer['c_id'] %>
          <option value="<%= customerId %>"><%= customerId %></option>
      <% })}%>
      </select>
      <!--Form to Enter Orders-->
      <table>
        <tr>
          <th>OL_I_ID</th>
          <th>OL_SUPPLY_W_ID</th>
          <th>OL_QUANTITY</th>
        </tr>
        <tr>
          <td>
            <input type = "number" id = "ol_1_id" name = "ol_1_id[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_wid" name = "ol_1_wid[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_quantity" name = "ol_1_quantity[]" required>
          </td>
        </tr>
        <tr>
          <td>
            <input type = "number" id = "ol_1_id" name = "ol_1_id[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_wid" name = "ol_1_wid[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_quantity" name = "ol_1_quantity[]" required>
          </td>
        </tr>
        <tr>
          <td>
            <input type = "number" id = "ol_1_id" name = "ol_1_id[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_wid" name = "ol_1_wid[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_quantity" name = "ol_1_quantity[]" required>
          </td>
        </tr>
        <tr>
          <td>
            <input type = "number" id = "ol_1_id" name = "ol_1_id[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_wid" name = "ol_1_wid[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_quantity" name = "ol_1_quantity[]" required>
          </td>
        </tr>
        <tr>
          <td>
            <input type = "number" id = "ol_1_id" name = "ol_1_id[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_wid" name = "ol_1_wid[]" required>
          </td>
          <td>
            <input type = "number" id = "ol_1_quantity" name = "ol_1_quantity[]" required>
          </td>
        </tr>
       
      </table>
      <input type="submit" name="submit_button" class="btn btn-primary" value="Perform New Order Transaction" />

    </form>
  </div>
      
</body>
</html>
