<!DOCTYPE html>
<html lang="en">
	<style>
		header {
			text-align: center;
			color:blue;
			font-size:30px;
		}
		body {
			color:black;
			center:auto;
			text-align: center;
			background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
		}
		table { 
			text-align: center;
			align:center;
			border: 1px solid #333;
			width: 40%;
			margin-left:30%;
			margin-right:30%;
		}
		footer {
			text-align:center;
			background-color: #abbaba;
			color: #000;
		}
		.cust_info{
			text-align:left;
		}
		.btn_new_Trans{
			color:white;
			background-color: blue;
		}
		h1 {font-size:15;
		}
		thead {backgroud-color: #2370d8; color: green;
		}
		tbody:nth-child(even) {background-color: #f2f2f2;
		}
	</style>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submitted</title>
  </head>
  <body>
    <header>
      <h1>TPC-C benchmark with IBM Bluemix</h1>
    </header>
    <h1>New Order Results Page</h1>
    <table class="cust_info">
      <tr>
        <td></td>
        <td></td>
        <td>New Order</td>
      </tr>
      <tr>
        <td>Warehouse: <%= warehouse.w_id %></td>
        <td>District: <%= district.d_id %></td>
        <% const now = new Date(); const year = now.getFullYear(); const month =
        now.getMonth() + 1; const day = now.getDate(); const hours =
        now.getHours(); const minutes = now.getMinutes(); const seconds =
        now.getSeconds(); const formattedDate = `${year}-${month}-${day}
        ${hours}:${minutes}:${seconds}`; %>
        <td>Date: <%= formattedDate %></td>
      </tr>
      <tr>
        <td>Customer:</td>
        <td>Name: <%= customer.c_last %></td>
        <td>Credit: <%= customer.c_credit %> </td>
        <td>Disc: </td>
      </tr>
      <tr>
        <td>Order Number:</td>
        <td>Number of Lines:</td>
        <td>W_tax:</td>
        <td>D_txt:</td>
      </tr>
    </table>
    <table class="order_details">
      <thead>
        <th>Supp_W</th>
        <th>Item_ID</th>
        <th>Item_Name</th>
        <th>Qty</th>
        <th>Stock</th>
        <th>B/G</th>
        <th>Price</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <tr>
          <td>0001</td>
          <td>1000</td>
          <td>aewrghaertha</td>
          <td>10</td>
          <td>99</td>
          <td>G</td>
          <td>19</td>
          <td>$190</td>
        </tr>
        <tr>
          <td>0001</td>
          <td>1001</td>
          <td>aetrhaefhdgh</td>
          <td>40</td>
          <td>99</td>
          <td>G</td>
          <td>42</td>
          <td>$1680</td>
        </tr>
        <tr>
          <td>0001</td>
          <td>1002</td>
          <td>ftghsrthe4tr</td>
          <td>98</td>
          <td>99</td>
          <td>G</td>
          <td>52</td>
          <td>$5096</td>
        </tr>
        <tr>
          <td>0001</td>
          <td>1003</td>
          <td>egaerfhdfhet</td>
          <td>56</td>
          <td>99</td>
          <td>G</td>
          <td>54</td>
          <td>$3024</td>
        </tr>
        <tr>
          <td>0001</td>
          <td>1004</td>
          <td>erhgae45r24y</td>
          <td>25</td>
          <td>99</td>
          <td>G</td>
          <td>21</td>
          <td>$525</td>
        </tr>
        <tr>
          <td>0001</td>
          <td>1005</td>
          <td>w4ytgaewry55</td>
          <td>05</td>
          <td>99</td>
          <td>G</td>
          <td>19</td>
          <td>$95</td>
        </tr>
      </tbody>
    </table>
    <table class="order_sum">
      <tr>
        <td>Exicution Status: Order was successfully Placed</td>
        <td>Total Cost: $10,610</td>
      </tr>
    </table>
    <input
      type="submit"
      name="submit_button"
      class="btn_new_Trans"
      value="Start New Transaction"
    />
  </body>
</html>